@model IEnumerable<Anladim.Models.EntityFramework.Order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="underlined-title">
    <div class="editContent">
        <h1 class="text-center latestitems">SİPARİŞLER</h1>
    </div>
    <div class="wow-hr type_short">
        <span class="wow-hr-h">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </span>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Sipariş Tarihi
        </th>
        <th>
            Toplam Ücret
        </th>
        <th>Detay</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a href="/order/detail/@item.OrderId">Siparis Detayi</a>
            </td>
        </tr>
    }

</table>
<div id="edd_checkout_form_wrap" class="edd_clearfix">
    <fieldset id="edd_purchase_submit">
    </fieldset>
</div>