<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Admin Paneli
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/AdminCategories/Index">Kategori Yonetimi</a></li>
            <li><a href="/AdminUsers/Index">Kullanici Yonetimi</a></li>
            <li><a href="/AdminProducts/Index">Urun Yonetimi</a></li>
            <li><a href="/AdminOrders/Index">Siparis Yonetimi</a></li>
            <li><a href="/AdminContact/Index">Iletisim Yonetimi</a></li>
            <li><a href="/">Siteye Don</a></li>
        </ul>
    </div>
</nav>