@model IEnumerable<Anladim.Models.EntityFramework.Product>


@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <p>
        Aranacak: @Html.TextBox("searching")
        <input type="submit" value="ara" />
    </p>
}