@model IEnumerable<Anladim.Models.EntityFramework.Category>

@foreach (var item in Model)
{
    <li class="propClone">
        <a style="padding-top: 8px; padding-bottom: 8px; margin-top: 7px" href="/Kategori/@item.CategoryName.Replace(" ","-")/@item.CategoryId">@item.CategoryName</a>
    </li>

}


@*" style="padding-top:8px; padding-bottom:8px; margin-top:18px">*@


@*@model IEnumerable<Anladim.Models.EntityFramework.Category>

    @foreach (var item in Model)
    {

        <li class="item"><a class="list-group-item-heading" href="/Kategori/@item.CategoryName.Replace(" ","-")/@item.CategoryId">@item.CategoryName</a></li>

    }*@

